*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #bfbfbf;
    box-shadow: black 0px 3px 8px;
    margin: 0 auto;
}

.square {
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: white;
}

.settings {
    display: flex;
}

