*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(180, 240, 220);
}

button {
    cursor: pointer;
    border: 2px solid #4f84ed;
    border-radius: 8px;
    padding: 12px 20px;
    margin: 5px 10px;
    background-color: #b8b9bc;
    font-size: 16px;
}

button:hover {
  transform: scale(0.95);
}

.title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #bfbfbf;
    box-shadow: black 0px 3px 8px;
    margin-right: 50px;
}

.square {
    box-sizing: border-box;
    background-color: white;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

